{{define "myteamtable"}} 
<table class="table">
    <tr>
        <th>Full name</th>
        <th>Position</th>
        <th>Team</th>
        <th>Player ID</th>
        <th>Remove Player</th>
    </tr>
    {{range .}}
    <tr>
        <td>{{.Player.FirstName}} {{.Player.LastName}}</td>
        <td>{{.Player.Position}}</td>
        <td>{{.Player.Team}}</td>
        <td>{{.Player.Id}}</td>
        <td>
            <form method="POST" action="">
                <button type="submit" name="removeid" value="{{.Player.Id}}">Remove</button>
            </form>        
        </td>
    </tr>
    {{end}}
</table>
    {{end}}